@model List<RiskComplianceApp.Models.TRR>

<!DOCTYPE html>
<html>
<head>
    <title>Admin TRR</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f2f2f2;
        }

        .container {
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Admin TRR</h1>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            @foreach (var activeRecord in Model)
            {
                <tr>
                    <td>@activeRecord.Sr_No</td>
                    <td>@activeRecord.Vertical</td>
                    <td>@(activeRecord.IsActive ? "Yes" : "No")</td>
                    <td>
                        <a href="@Url.Action("AssignTRR", "Admin", new { id = activeRecord.Sr_No })" class="btn btn-info">Approve</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
